@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

main {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  background-color: #deb887;
  transition: 2s background-color;
}

section {
  height: 100vh;
}
.full-screen {
  overflow-y: scroll;

  scroll-snap-align: start;

  scroll-snap-stop: normal;
}

.dg {
  z-index: 99 !important;
}

@layer components {
  .full-screen {
    @apply min-h-screen w-full h-full;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}
