@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Rajdhani:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
}
body {
  overflow: hidden;
  height: 100vh;
}

main {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  background: linear-gradient(45deg, #0000008f, transparent);
  background-color: #2c3333;
  transition: 2s all;
}

section {
  height: 100vh;
}
.full-screen {
  height: 100vh;
}

.dg {
  z-index: 99 !important;
}

@layer components {
  .full-screen {
    @apply h-screen w-full;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .navbar-cta {
    @apply h-full grid place-content-center text-center  px-[20px] hover:bg-white/25 duration-200 tracking-[3px] font-normal;
  }
}

.first-para-shadow {
  text-shadow: 0 0 24px #ffffdb;
}
